body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
}
h2{
    color: red;
}
table{
    border-collapse: collapse;
}
td{
    border: solid 2px blue;
    padding: 10px;
}
th{
    border: solid 2px blue;
    padding: 10px;
}
